body{
    text-decoration: none;
}


.link{
    text-align: right;
  
}
.mainpage{
    text-align: center;
    margin: 10%;
}
.about{
    text-align: left;
    margin: 3%;
}

.bottom{
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
    border: 2px rgb(128, 119, 119);
    position: absolute;
    bottom: 16px;


}



.box1{
    display: flex;
    text-align: left;
    margin:0%;
    padding:0%;
}
.box2{
    display: flex;
    text-align: right;
    margin:0%;
    padding:0%
}